body {
  background-color: #101010;
  color: #fdfdfd;

  font-family: "Roboto";
  font-size: 16px;
  font-style: bold;
  font-variant: normal;
  font-weight: 100;
  line-height: 20px;
}

h1 {
  text-align: center;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 1000;
  font-size: 36px;

  margin-left: 5px;
  padding: 15px;
  background-color: #333333;
  color: #ffffff;
  width: 100%;
}

a {
  color: #fdfdfd;
}

ul {
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.row {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #dddddd;
}

img {
  width: 250px;
}

img.overview {
  width: 90px;
}

table {
  border-collapse: separate;
  border-spacing: 50px 10px;
}

.li-head {
  cursor: pointer;
}

.li-head:hover {
  background-color: #353535;
}

.hidden {
  display: none;
}

.li-body {
  padding-left: 50px;
  background-color: #303030;
}

.cell {
  margin: 2px 5px 3px 5px;
  display: inline-block;
  overflow: hidden;
  vertical-align: center;
}

.heading {
  font-size: 18px;
  font-variant: small-caps;
  font-weight: 1000;
}

.status {
  width: 90px;
  height: 20px;
  text-align: center;
}

.status-small {
  width: 20px;
  height: 15px;
}

.group {
  width: 140px;
}

.name {
  width: 175px;
}

.hardware {
  width: 150px;
}

.timing {
  width: 90px;
}

.commit {
  width: 90px;
}

.timestamp {
  width: 240px;
}

.heading {
  text-align: left;
}


/*
 * Error colors used for status reporting
 */
.error-0 {
  background-color: #eeeeee;
  color: #111111;
}

.error-1 {
  background-color: hsl(100, 100%, 45%);
  color: #111111;
}

.error-2 {
  background-color: hsl(95, 100%, 40%);
  color: #111111;
}

.error-3 {
  background-color: hsl(90, 100%, 40%);
  color: #111111;
}

.error-4 {
  background-color: hsl(58, 85%, 53%);
  color: #111111;
}

.error-5 {
  background-color: hsl(48, 85%, 53%);
  color: #111111;
}

.error-6 {
  background-color: hsl(30, 100%, 40%);
}

.error-7 {
  background-color: hsl(20, 100%, 40%);
}

.error-8 {
  background-color: hsl(10, 100%, 40%);
}

.error-9 {
  background-color: hsl(0, 100%, 40%);
}
