body {
  background-color: #101010;
  color: #fdfdfd;

  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 20px;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-variant: small-caps;
  font-weight: 1000;
  font-size: 36px;

  margin-left: 5px;
  padding-left: 10px;
  padding-top: 5pt;
  padding-bottom: 5pt;
  background-color: #333333;
  color: #ffffff;
  width: 100%;
}

ul {
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.row {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #dddddd;
}

img {
  width: 200px;
}

.toggle {
  cursor: pointer;
}

.toggle:hover {
  background-color: #404040;
}

.hidden {
  display: none;
}

.li_body {
  padding-left: 50px;
  background-color: #303030;
}

.cell {
  margin: 0px 5px 0px 5px;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.heading {
  font-size: 18px;
  font-variant: small-caps;
  font-weight: 1000;
}

.status {
  width: 20px;
  height: 20px;
}

.group {
  width: 140px;
}

.name {
  width: 140px;
}

.os {
  width: 150px;
}

.diff {
  width: 100px;
}

.commit {
  width: 125px;
}

.timestamp {
  width: 170px;
}

.error-0 {
  background-color: #eeeeee;
}

.error-1 {
  background-color: hsl(100, 100%, 40%);
}

.error-2 {
  background-color: hsl(95, 100%, 40%);
}

.error-3 {
  background-color: hsl(90, 100%, 40%);
}

.error-4 {
  background-color: hsl(70, 100%, 40%);
}

.error-5 {
  background-color: hsl(30, 100%, 40%);
}

.error-6 {
  background-color: hsl(20, 100%, 40%);
}

.error-7 {
  background-color: hsl(10, 100%, 40%);
}

.error-8 {
  background-color: hsl(5, 100%, 40%);
}

.error-9 {
  background-color: hsl(0, 100%, 40%);
}
