body {
  background-color: #101010;
  color: #fdfdfd;

  font-family: "Roboto";
  font-size: 16px;
}


h1 {
  text-align: center;
  font-variant: small-caps;
  font-size: 36px;

  line-height: 30px;

  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #333333;
  color: #ffffff;
  width: 100%;

  text-shadow: 0px 4px 5px #000000;
}


h1 a {
  text-decoration: none;
}


h2 {
  text-align: center;
  font-variant: small-caps;
  font-size: 28px;
}


a {
  color: #fdfdfd;
}


ul {
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
}


.row {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #dddddd;
}


img {
  width: 250px;
  height: 140.625px;
}


img.overview {
  width: 85px;
  height: 47.8125px;
}


.admin-panel {
  position: absolute;
  font-size: 22px;
  top: 25px;
  right: 20px;
}


table {
  border-spacing: 20px 0px;
}


.li-head {
  cursor: pointer;
}


.li-head:hover {
  background-color: #353535;
}


.hidden {
  display: none;
}


.li-body {
  padding-left: 50px;
  background-color: #303030;
}


.cell {
  margin: 2px 5px 3px 5px;
  display: inline-block;
}


.heading {
  font-size: 18px;
  font-variant: small-caps;
  font-weight: 1000;
}


.status:not(.heading) {
  width: 70px;
  height: 20px;
  text-align: center;
  vertical-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}


.status-small {
  width: 20px;
  height: 15px;
}


.status {
  width: 70px;
}


.group {
  width: 140px;
}


.name {
  width: 175px;
}


.hardware {
  width: 150px;
}


.timing {
  width: 80px;
}


.commit {
  width: 85px;
}


.timestamp {
  width: 200px;
}


.heading {
  text-align: left;
}


.grouping {
  margin: 25px auto 25px;
  padding: 5px 10px 15px 10px;
  width: 90%;
  background-color: #303030;
}

.error {
  color: #ed3535;
  font-size: 28px;
}


/*
 * Error colors used for status reporting
 */
.error-0 {
  background-color: #eeeeee;
  color: #111111;
}

.error-1 {
  background-color: #4ce600;
  color: #111111;
}

.error-2 {
  background-color: #55cc00;
  color: #111111;
}

.error-3 {
  background-color: #66cc00;
  color: #111111;
}

.error-4 {
  background-color: #ede621;
  color: #111111;
}

.error-5 {
  background-color: #edc421;
  color: #111111;
}

.error-6 {
  background-color: #cc5000;
  color: #050505;
}

.error-7 {
  background-color: #cc4400;
}

.error-8 {
  background-color: #cc2200;
}

.error-9 {
  background-color: #cc0000;
}
