.vs*
*.swp
__pycache__
packages/
OpenSpaceVisualTesting/obj/*
OpenSpaceVisualTesting/bin/*
**/Result*.png
**/Difference*.png
OpenSpaceVisualTesting/DifferenceImages/linux/*.png
OpenSpaceVisualTesting/ResultImages/linux/*.png
*.report
**/result.txt
**/*.json.tmp
**/visualtests_*_results.json
OpenSpaceVisualTesting/log/log_*.html
